.landingpage {
  .section1 {
    .p1 {
      font-size: 59px;
      letter-spacing: 0;
      word-spacing: 0;
    }
    .p2 {
      word-spacing: 2px;
      font-weight: 500;
    }
    .text-block {
      // background-color: black;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bg-image {
      position: absolute;
      width: 100%;
      left: 0;
      z-index: -1;
      height: 600px;
    }
    .cta {
      height: 52px;
      font-size: 16px;
      font-weight: 600;
      fill: #1c44bc;
      color: #1c44bc;
    }
  }
  .section2 {
    background-color: #f0f0f0;
    .left {
      width: 43%;
    }
    .desc {
      font-size: 16px;
    }
    .cta {
      font-size: 22px;
      background-color: #1947BA;
    }
    .text1 {
      font-size: 35px;
    }
    .sec2-block {
      position: relative;
      left: 50px;
    }
    .ar.sec2-block{
      left: -50px;
    }
    .text1{
      color: #1947BA;
    }
  }
  .section3 {
    .text1 {
      margin: 80px;
      color: #1947BA;
    }
  }
}

@media only screen and (max-width: 1260px) {
  .landingpage {
    .section1,
    .section2,
    .section3,
    .section4 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .section2 {
      .ar.sec2-block,.sec2-block {
        left: 0px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .landingpage {
    .section2 {
      .left {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .landingpage {
    .section1 {
      .text-block {
        // background-color: black;
        height: 450px;
        padding-top: 0px;
      }
      .bg-image {
        height: 450px;
      }
      .cta {
        height: 35px;
        font-size: 13px;
        font-weight: bold;
        fill: #1c44bc;
        color: #1c44bc;
        width: 230px;
        margin-top: -15px;
      }
      .p1 {
        font-size: 24px;
      }
      .p2 {
        font-size: 16px;
      }
    }
    .section2 {
      .text1 {
        margin-top: 50px;
        font-size: 22px;
      }
      .text2 {
        font-size: 16px;
      }
      .desc {
        font-size: 14px;
      }
      .sec2-block {
        margin-top: 15px;
        left: 0;
      }
      .cta {
        font-size: 15px;
        width: 300px;
      }
    }
    .section3 {
      .text1 {
        margin: 35px 0 40px 0;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}
